// Grid
$grid__width: 1200px;
$grid__columns: 12;
$grid__breakpoint: 768px;
$grid__gap: 12px;

// Colors
$color__green: #c2f970;
$color__black: #423e37;
$color__grey: #9F9AA4;
$color__orange: #FA8334;
$color__orange_light: #F7B05B;

// Font
$font-family: Andalé Mono, sans-serif;